{% extends '../../base.html' %}
{% load static %}

{% block header %}
<style type="text/css">
    .smoke {background-color: whitesmoke;}
    .preview-image {
        max-width: 300px;
        max-height: 300px;
        display: block;
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block content %}
<!--HEADER START-->    
<div class="my-3 p-3 py-2 text-center bg-body-tertiary"><div class="d-flex justify-content-center align-items-center gap-2">
    <img class="bi" width="50" height="50" src="{% static 'img/chat.png' %}" alt="Chat Icon">
    <h3 class="text-body-emphasis fst-italic mb-0">Thread Chat</h3>
    &nbsp;
    <img class="bi" width="40" height="40" src="{% static 'img/list.png' %}" alt="Detail Icon">
    <h3 class="text-body-emphasis fst-italic mb-0">Detail</h3>
</div></div>
<!--HEADER END-->

<!--MAIN START-->
<main>
    <div class="container">
        <div class="bd-example-snippet bd-code-snippet"><div class="bd-example m-0 border-0">

            <form action='' method="POST">
                {% csrf_token %}
                <!--submit button-->
                <a href="javascript:history.back()" class="btn btn-secondary">⬅️Back</a>
                {% if user.is_authenticated %}
                    {% if user.is_staff or user.profile.id == object.profile.id %}
                        <a>&nbsp;</a>
                        <a href="{% url 'thread:chat_update' object.pk %}" class="btn btn-primary">🛠️Edit</a>
                        <a>&nbsp;</a>
                        <a href="{% url 'thread:chat_delete' object.pk %}" class="btn btn-danger">🗑️Delete</a>
                    {% endif %}
                {% endif %}
            </form>
            <br/>
                
            <!--Individual:id(auto:key)-->
            <div class="mb-3">{% include 'includes/display_field.html' with target=object.id disp_name='ID' %}</div>
            <!--Display:title-->
            <div class="mb-3">{% include 'includes/display_field.html' with target=object.title disp_name='Title' %}</div>
            <!--Display:context-->
            <div class="mb-3">{% include 'includes/display_field.html' with target=object.context disp_name='Context' %}</div>

            <!--Display[img]:images-->
            <div class="mb-3">{% include 'includes/display_image.html' with target=object.images field_name='images' disp_name='Images' app_name='chat' %}</div>

            <!--Display:author-->
            {% if object.author and object.author != "None" %} <!-- Author is not null-->
                <div class="mb-3">{% include 'includes/display_field.html' with target=object.author disp_name='Author' %}</div>
            <!--Display:profile.nick_name-->
            {% else %} <!-- Author is null-->
                <div class="mb-3">{% include 'includes/display_field.html' with target=object.profile.nick_name disp_name='Author' %}</div>
            {% endif %}

            <!--Display:created_at/updated_at-->
            {% include 'includes/bottom_dates.html' %}

            <br/>
            <form action='' method="POST">
                {% csrf_token %}
                <!--submit button-->
                <a href="javascript:history.back()" class="btn btn-secondary">⬅️Back</a>
                {% if user.is_authenticated %}
                    {% if user.is_staff or user.profile.id == object.profile.id %}
                        <a>&nbsp;</a>
                        <a href="{% url 'thread:chat_update' object.pk %}" class="btn btn-primary">🛠️Edit</a>
                        <a>&nbsp;</a>
                        <a href="{% url 'thread:chat_delete' object.pk %}" class="btn btn-danger">🗑️Delete</a>
                    {% endif %}
                {% endif %}
            </form>
        </div>
    </div>
</main>
<!--MAIN END-->
{% endblock %}

{% block footer %}
{% endblock footer %}