{% extends "../base.html" %}
{% load static %}
{% load custom_tags %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'list/style.css' %}">
<style type="text/css">

</style>
{% endblock header %}

{% block content %}
<!-- START TITLE -->
<div class="my-3 p-3 py-2 text-center bg-body-tertiary"><div class="d-flex justify-content-center align-items-center gap-2">
    <img class="bi" width="60" height="60" src="{% static 'img/thread.png' %}" alt="Thread Icon">
    <h1 class="text-body-emphasis fst-italic mb-0">New Thread</h1>
    &nbsp;
    <img class="bi" width="50" height="50" src="{% static 'img/create.png' %}" alt="Create Icon">
    <h1 class="text-body-emphasis fst-italic mb-0">Join</h1>
    </div>
    <p class="col-lg-8 mx-auto lead fst-italic">Join new Profile to Thread</p>
</div>
<!-- END TITLE -->

<!--MAIN START-->
<main class="container">
    <!-- START MAIN LIST BODY -->
    <div class="album py-5 bg-body-tertiary"><div class="container">
        <form method="POST">
            {% csrf_token %}

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3 justify-content-center">
                <!--login check-->
                {% if user.is_authenticated %}

                    <!--profile_own-->
                    <input type="hidden" class="card-text" id="id_profile_own_id" name="profile_own_id" value="{{ profile_own.id }}">
                    {% include 'includes/profile_item.html' with item=profile_own disp_date=profile_own.updated_at|date:"'y/m/d H:i:s" %}

                    <!--Handshake-->
                    <div class="col-md-4 d-flex justify-content-center align-items-center" style="min-height: 300px;">
                        <img src="{% static 'img/handshake.png' %}" alt="Handshake" class="img-fluid" style="max-width: 100%; height: auto;">
                    </div>

                    <!--thread_with-->
                    <input type="hidden" class="card-text" id="id_thread_with_id" name="thread_with_id" value="{{ thread_with.id }}">
                    {% include 'includes/thread_item.html' with item=thread_with disp_date=thread_with.updated_at|date:"'y/m/d H:i:s" disp_like='none' %}

                    <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                        <!--submit button-->
                        {% include 'includes/submit_button.html' with action="Accept" %}
                    </div>
                {% else %}
                    <label for="require_login" class="form-label">ログインしてください</label>
                    &nbsp;
                    <a href="{% url 'top:login' %}" class="btn btn-primary" role="button" aria-pressed="true">Login</a>
                {% endif %}
            </div>
        </form>
    </div></div>
    <!-- END MAIN LIST BODY -->
</main>
<!--MAIN END-->
{% endblock content %}