{% extends '../base.html' %}
{% load static %}
{% load custom_tags %}

{% block header %}
<style type="text/css">
    .smoke {background-color: whitesmoke;}
    .preview-image {
        max-width: 300px;
        max-height: 300px;
        display: block;
        margin-top: 10px;
    }

    .checkbox-row {
        display: flex;
        flex-wrap: wrap; /* 項目が多い場合に折り返す */
        gap: 12px;        /* チェックボックス間の余白 */
        align-items: center;
    }

    .checkbox-item {
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .checkbox-item input[type="checkbox"] {
        margin-right: 6px;
        transform: scale(1.2); /* チェックボックスを少し大きくする（任意） */
    }
    
</style>
{% endblock header %}

{% block content %}
<!--HEADER START-->
<div class="my-3 p-3 py-2 text-center bg-body-tertiary"><div class="d-flex justify-content-center align-items-center gap-2">
    <img class="bi" width="50" height="50" src="{% static 'img/thread.png' %}" alt="Thread Icon">
    <h3 class="text-body-emphasis fst-italic mb-0">Thread</h3>
    &nbsp;
    <img class="bi" width="40" height="40" src="{% static 'img/update.png' %}" alt="Update Icon">
    <h3 class="text-body-emphasis fst-italic mb-0">Update</h3>
</div></div>
<!--HEADER END-->

<!--page errors-->
{% if form.errors %}<div class="alert alert-danger">{{ form.errors }}</div>{% endif %}

<!--MAIN START-->
<main><div class="container">
    <div class="bd-example-snippet bd-code-snippet"><div class="bd-example m-0 border-0">
        <!--login check-->
        {% if user.is_authenticated %}
        {% if user.is_staff or user.is_user_member %}
            <!--form common errors-->
            {% if form.non_field_errors %}<div class="alert alert-danger"> {% for error in form.non_field_errors %} * {{ error }}<br/> {% endfor %} </div>{% endif %}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!--submit button-->
                {% include 'includes/submit_button.html' with action="Update" %}
                <br/><br/>

                <!--Display:id(auto:key)-->
                <div class="mb-3">{% include 'includes/display_field.html' with target=object.id disp_name='ID' %}</div>

                <!--Input:name-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=form.name %}</div>

                <!--Input:images-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=form.images %}</div>
                <!--Display[img]:images_display-->
                <div class="mb-3">{% include 'includes/image.html' with target=object.images field_name='images' display_name='Images' app_name='thread' %}</div>
                <!--Input:themes-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=form.themes %}</div>
                <!--Display[img]:themes_display-->
                <div class="mb-3">{% include 'includes/image.html' with target=object.themes field_name='themes' display_name='Themes' app_name='thread' %}</div>
                
                <!--Input:categories-->
                <div class="mb-3">
                    <label for="{{ target.id_for_label }}" class="form-label btn btn-primary-input labeltext"><B>&lt;&lt;[ {{ form.categories.label|safe }} ]&gt;&gt;</B></label><br/>
                    {% if form.categories.help_text %} <span class="helptext" style="font-size:10pt">{{ form.categories.help_text|safe }}</span> {% endif %}
                    {% if form.categories.errors %} <div class="errortext" style="font-size:10pt"> {% for error in form.categories.errors %} * {{ error }}<br/> {% endfor %} </div> {% endif %}
                    <div class="checkbox-row" style="padding:6px 12px;">
                        {% for checkbox in form.categories %}
                          <label class="checkbox-item">
                            {{ checkbox.tag }}
                            {{ checkbox.choice_label }}
                          </label>
                        {% endfor %}
                    </div>           
                </div>
                
                <!--Input:overview-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=form.overview %}</div>
                <!--Input:context-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=form.context %}</div>
                <!--Input:remarks-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=form.remarks %}</div>

                <!--Display:created_at/updated_at-->
                {% include 'includes/bottom_dates.html' %}
                <br/>
                <!--submit button-->
                {% include 'includes/submit_button.html' with action="Update" %}
            </form>
        {% else %}
            <label for="require_login" class="form-label">更新権限がありません</label>
            &nbsp;
            <a href="{% url 'top:login' %}" class="btn btn-primary" role="button" aria-pressed="true">Login</a>
        {% endif %}
        {% else %}
            <label for="require_login" class="form-label">ログインしてください</label>
            &nbsp;
            <a href="{% url 'top:login' %}" class="btn btn-primary" role="button" aria-pressed="true">Login</a>
        {% endif %}
    </div></div>
</div></main>
<!--MAIN END-->
{% endblock content %}

{% block footer %}
<script src="{% static 'js/images_preview.js' %}"></script> <!-- for Image Preview -->
<script src="{% static 'js/themes_preview.js' %}"></script> <!-- for Themes Preview -->
{% endblock footer %}
