{% extends '../base.html' %}
{% load static %}

{% block header %}
<style type="text/css">
    .smoke {background-color: whitesmoke;}
    .preview-image {
        max-width: 300px;
        max-height: 300px;
        display: block;
        margin-top: 10px;
    }
</style>
{% endblock header %}

{% block content %}
    <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSheet">
        <div class="modal-dialog" role="document"><div class="modal-content rounded-4 shadow">
            <div class="my-3 p-3 py-2 text-center bg-body-tertiary"><div class="d-flex justify-content-center align-items-center gap-2">
                <img class="bi" width="50" height="50" src="{% static 'img/member.png' %}" alt="Member Icon">
                <h3 class="text-body-emphasis fst-italic mb-0">Member</h3>
                &nbsp;
                <img class="bi" width="40" height="40" src="{% static 'img/delete.png' %}" alt="Delete Icon">
                <h3 class="text-body-emphasis fst-italic mb-0">Delete</h3>
            </div></div>
            <div class="modal-body py-0">
                <p>Are you sure that you really want to delete it??</p>
            </div>

            <div class="container">
                <div class="bd-example-snippet bd-code-snippet"><div class="bd-example m-0 border-0">
            {% if user.is_authenticated %}
                    <div class="mb-3">
                        <label for="id" class="form-label">Id</label>
                        <label type="text" class="form-control smoke" id="id" name="id">{{ object.id }}</label>
                    </div>
                    <div class="mb-3">
                        <label for="userid" class="form-label">User Id</label>
                        <label type="text" class="form-control smoke" id="userid" name="userid">{{ object.userid }}</label>
                    </div>
                    <div class="mb-3">
                        <label for="memberid" class="form-label">Member Id</label>
                        <label type="text" class="form-control smoke" id="memberid" name="memberid">{{ object.memberid }}</label>
                    </div>
                    <div class="mb-3">
                        <label for="nick_name" class="form-label">Nick Name</label>
                        <label type="text" class="form-control smoke" id="nick_name" name="nick_name">{{ object.nick_name }}</label>
                    </div>
                    <div class="mb-3">
                        <label for="birthday" class="form-label">Birthday</label>
                        <label type="date" class="form-control smoke" id="birthday" name="birthday">{{ object.birthday|date:"m/d" }}</label>
                    </div>
                    <div class="mb-3">
                        <label for="remarks" class="form-label">Remarks</label>
                        <label type="text" class="form-control smoke" id="remarks" name="remarks">{{ object.remarks }}</label>
                    </div>
                    <div class="mb-3">
                        <label for="images" class="form-label">Images</label>
                        <label type="text" class="form-control smoke" id="images" name="images">{{ object.images }}</label>
                    </div>
                    <div class="mb-3">
                        {% include 'includes/images.html' with app_name="user" object=object field_name="images" display_name="Images" width="300px" height="300px" %}
                    </div>
                    <div class="mb-3">
                        <label for="themes" class="form-label">Themes</label>
                        <label type="text" class="form-control smoke" id="themes" name="themes">{{ object.themes }}</label>
                    </div>
                    <div class="mb-3">
                        {% include 'includes/images.html' with app_name="user" object=object field_name="themes" display_name="Themes" width="3000px" height="3000px" %}
                    </div>

                    {% include 'includes/bottom_dates.html' %}
                    <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                        <form action='' method="POST"> {% csrf_token %}
                            {% include 'includes/submit_button.html' with action="Delete" %}
                        </form>
                    </div>
                {% else %}
                <label for="require_login" class="form-label">ログインしてください</label>
                &nbsp;
                <a href="{% url 'top:login' %}" class="btn btn-primary" role="button" aria-pressed="true">Login</a>
                {% endif %}
                </div></div>
            </div>
        </div></div>
    </div>
{% endblock content %}
