{% extends '../base.html' %}
{% load static %}

{% block header %}
<style type="text/css">
    .smoke {background-color: whitesmoke;}
    .preview-image {
        max-width: 300px;
        max-height: 300px;
        display: block;
        margin-top: 10px;
    }
</style>
{% endblock header %}

{% block content %}
<!--HEADER START-->
<div class="my-3 p-3 py-2 text-center bg-body-tertiary"><div class="d-flex justify-content-center align-items-center gap-2">
    <img class="bi" width="50" height="50" src="{% static 'img/device.png' %}" alt="Device Icon">
    <h3 class="text-body-emphasis fst-italic mb-0">New Device</h3>
    &nbsp;
    <img class="bi" width="40" height="40" src="{% static 'img/create.png' %}" alt="Create Icon">
    <h3 class="text-body-emphasis fst-italic mb-0">Create</h3>
</div></div>
<!--HEADER END-->

<!--page errors-->
{% if form.errors %}<div class="alert alert-danger">{{ form.errors }}</div>{% endif %}

<!--MAIN START-->
<main><div class="container">
    <div class="bd-example-snippet bd-code-snippet"><div class="bd-example m-0 border-0">
        <!--login check-->
        {% if user.is_authenticated and user.is_staff %}

            <!--form common errors-->
            {% if form.non_field_errors %}<div class="alert alert-danger"> {% for error in form.non_field_errors %} * {{ error }}<br/> {% endfor %} </div>{% endif %}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!--submit button-->
                {% include 'includes/submit_button.html' with action="✏️Create" %}
                <br/><br/>

                <!--Input:name-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=form.name %}</div>

                <!--Input:images-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=form.images %}</div>
                <!--Display[img]:images_display-->
                <div class="mb-3">{% include 'includes/image.html' with target=object.images field_name='images' display_name='Images' app_name='device' %}</div>
                <!--Input:themes-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=form.themes %}</div>
                <!--Display[img]:themes_display-->
                <div class="mb-3">{% include 'includes/image.html' with target=object.themes field_name='themes' display_name='Themes' app_name='device' %}</div>
                
                <!--Input:maker-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=form.maker %}</div>
                <!--Input:productno-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=form.productno %}</div>
                <!--Input:context-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=form.context %}</div>
                <!--Input:remarks-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=form.remarks %}</div>

                <!--Input:schedule_monthly-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=form.schedule_monthly %}</div>
                <!--Input:schedule_weekly-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=form.schedule_weekly %}</div>

                <!--Display:created_at/updated_at-->
                {% include 'includes/bottom_dates.html' %}
                <br/>
                <!--submit button-->
                {% include 'includes/submit_button.html' with action="✏️Create" %}
            </form>
        {% else %}
            <label for="require_login" class="form-label">🔓staffユーザでログインしてください</label>
            &nbsp;
            <a href="{% url 'top:login' %}" class="btn btn-primary" role="button" aria-pressed="true">🔓Login</a>
        {% endif %}
    </div></div>
</div></main>
<!--MAIN END-->
{% endblock content %}

{% block footer %}
<!-- JavaScript for Image Preview -->
<script src="{% static 'js/images_preview.js' %}"></script> <!-- for Image Preview -->
<!-- JavaScript for Themes Preview -->
<script src="{% static 'js/themes_preview.js' %}"></script> <!-- for Image Preview -->
{% endblock footer %}
