{% extends '../base.html' %}
{% load static %}
{% load fixed_values %}

{% block header %}
<style type="text/css">
    .smoke {background-color: whitesmoke;}

    /* 画像とリストを横並びにするコンテナ */
    .header-container {
        display: flex;                /* 横並びに表示 */
        flex-wrap: wrap;              /* 画面幅が狭くなったら折り返す */
        align-items: center;          /* 垂直方向で中央揃え */
        gap: 10px;                    /* 画像とリストの間隔 */
        justify-content: space-between;
    }

</style>
<link href="{% static 'user/blog.css' %}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock header %}

{% block content %}
<!--HEADER START-->  
<div class="my-3 p-3 py-2 text-center bg-body-tertiary"><div class="d-flex justify-content-center align-items-center gap-2">
    <img class="bi" width="50" height="50" src="{% static 'img/room.png' %}" alt="Room Icon">
    <h3 class="text-body-emphasis fst-italic mb-0">Room</h3>
    &nbsp;
    <img class="bi" width="40" height="40" src="{% static 'img/list.png' %}" alt="Detail Icon">
    <h3 class="text-body-emphasis fst-italic mb-0">Detail</h3>
</div></div>
<!--HEADER END-->

<!--MAIN START-->
<main><div class="container">
    <form method="POST">
        {% csrf_token %}
        <br/>
        <!--submit button-->
        {% include 'includes/detail_staff_controled_buttons.html' with app_name='room' %}
        <br/><br/>

        <div class="row g-5">
            <div class="col-md-8"><div class="header-container align-items-start">

                <!-- 画像ブロック -->
                <div class="align-self-start" style="min-width: 300px;">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-0 shadow-sm position-relative bg-white">
                    <div class="col p-4 flex-column position-static" style="width:900px;">

                        <!-- name -->
                        <div class="d-flex align-items-center"><h2 class="display-7">{{ object.name }}</h2></div>

                        <div class="mb-2 d-flex flex-wrap align-items-center gap-2 justify-content-between" style="width:100%;">
                            <div class="profile-image-wrapper" style="max-width:900px; ">
                                <!-- 背景：themes -->
                                {% if object.themes %}
                                <img src="{{ object.themes.url }}" class="profile-bg-image" alt="Room Themes"/>
                                {% else %}
                                <img src="{% static 'img/themes.png' %}" class="profile-bg-image" alt="Default Themes"/>
                                {% endif %}
                                <!-- 前面：images(circle切り取り) -->
                                <div class="profile-front-image">
                                    {% if object.images %}
                                    <img src="{{ object.images.url }}" style="border-radius: 50%;" alt="Room Images"/>
                                    {% else %}
                                    <img src="{% static 'img/room.png' %}" style="border-radius: 50%;" alt="Default Images"/>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <!-- capacity -->
                {% if object.capacity %}
                <div class="align-self-start" style="min-width: 100px; width: 900px; ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-0 shadow-sm position-relative bg-white">
                    <div class="col p-4 d-flex flex-column position-static">
                    <article class="blog-post" style="margin:0px;">
                        <h2>Capacity</h2>{{ object.capacity|linebreaksbr }}
                    </article>
                    </div>
                </div>
                </div>
                {% endif %}

                <!-- context -->
                {% if object.context %}
                <div class="align-self-start" style="min-width: 100px; width: 900px; ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-0 shadow-sm position-relative bg-white">
                    <div class="col p-4 d-flex flex-column position-static">
                    <article class="blog-post" style="margin:0px;">
                        <h2>Context</h2>{{ object.context|linebreaksbr }}
                    </article>
                    </div>
                </div>
                </div>
                {% endif %}

                <!-- remarks -->
                {% if object.remarks %}
                <div class="align-self-start" style="min-width: 100px; width: 900px; ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-0 shadow-sm position-relative bg-white">
                    <div class="col p-4 d-flex flex-column position-static">
                    <article class="blog-post" style="margin:0px;">
                        <h2>Remarks</h2>{{ object.remarks|linebreaksbr }}
                    </article>
                    </div>
                </div>
                </div>
                {% endif %}

                <br/>
            </div></div>

            <div class="col-md-4"><div class="position-sticky" style="top:5rem; min-width:340px;">
                  <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <div> Profile Card (public) </div>
                    {% include 'includes/room_item.html' with item=object disp_date=object.updated_at|date:"'y/m/d H:i:s" %}
                  </div>
        
                  <div>
                    <h4 class="fst-italic">Recent chat</h4>
                    {% for chat in recent_chats %}
                      <div class="card" style="margin-bottom:4px;"><div class="card-body" style="padding:8px;">
                        <small class="card-text"><B>{{ chat.title }}</B></small><br/>
                        <small class="text-muted">{{ chat.context }}</small><br/>
                        <small class="text-muted">{{ chat.created_at|date:"Y/m/d H:i" }}</small>
                      </div></div>
                    {% empty %}
                      <div>No recent chats.</div>
                    {% endfor %}
                  </div>
        
                  <div style="margin-top:16px;">
                    <h4 class="fst-italic">Recent logins</h4>
                    {% for login_record in recent_login_records %}
                      <div class="card" style="margin-bottom:2px;"><div class="card-body" style="padding:2px; padding-left:4px;">
                        <small class="text-muted">{{ login_record.login_time|date:"'y/m/d h:m" }} - </small>
                        <small class="text-muted">
                          {% if login_record.logout_time and login_record.login_time|date:"Y/m/d" != login_record.logout_time|date:"Y/m/d" %}<br/>{{ login_record.logout_time|date:"'y/m/d" }}{% endif %}
                          {{ login_record.logout_time|date:"h:m" }}
                        </small>
                        <small class="text-muted">[{{ login_record.get_diff_time }}]</small>
                      </div></div>
                    {% empty %}
                        <div>No recent logins.</div>
                    {% endfor %}
                  </div>
        
            </div></div>
        </div>
        <br/>
        <!--submit button-->
        {% include 'includes/detail_staff_controled_buttons.html' with app_name='room' %}

        {% if object.schedule_monthly and object.schedule_weekly %}
        <hr class="featurette-divider">

        <!-- Calendar -->
        <div class="row">
            <div class="col-md-5">
                {{ object.schedule_monthly|safe }}
            </div>
            <div class="col-md-7">
                {{ object.schedule_weekly|safe }}
            </div>
        </div>
        {% endif %}

    </form>
</div></main>
<!--MAIN END-->
{% endblock %}

{% block footer %}
<script>

// likes post
$(document).ready(function() {
            $('.like-btn').click(function() {
                const objectId = $(this).data('room-id');

                $.ajax({
                    url: `/room/push-likes/${objectId}/`,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        // いいね数をリアルタイムで更新
                        $(`#like-count-${objectId}`).text(response.likes);
                    },
                    error: function(xhr) {
                        alert('エラーが発生しました。');
                    }
                });
            });
        });
</script>
{% endblock footer %}
