{% extends "../base.html" %}
{% load static %}

{% block header %}
<link rel="'stylesheet" type="text/css" href="{% static 'list/style.css' %}">
<style type="text/css">

</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock header %}

{% block content %}
<!-- START TITLE -->
<div class="my-3 p-3 py-2 text-center bg-body-tertiary"><div class="d-flex justify-content-center align-items-center gap-2">
    <img class="bi" width="60" height="60" src="{% static 'img/room.png' %}" alt="Room Icon">
    <h1 class="text-body-emphasis fst-italic mb-0">Room</h1>
    &nbsp;
    <img class="bi" width="50" height="50" src="{% static 'img/list.png' %}" alt="List Icon">
    <h1 class="text-body-emphasis fst-italic mb-0">List</h1>
    </div>
    <p class="col-lg-8 mx-auto lead fst-italic">The List of Rooms which we have.</p>
</div>
<!-- END TITLE -->

<main class="container">
    <form method="GET" class="d-flex flex-column align-items-start">
        <div class="d-flex flex-row align-items-center " style="gap: 8px; flex-wrap:wrap;">
            <!-- ソート条件（ラジオボタン） -->
            <span style="color:blue;"><strong>*SortBy:</strong></span>
            <label class="form-check" style="padding:0px;">Likes(</label>
            <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="likes_desc"{% if sort_by == "likes_desc" %}checked{% endif %}>desc</label>
            <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="likes_asc"{% if sort_by == "likes_asc" %}checked{% endif %}>asc</label>
            <label class="form-check" style="padding:0px;">)</label>
            <label class="form-check" style="padding:0px;">Updated(</label>
            <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="updated_desc"{% if sort_by == "updated_desc" %}checked{% endif %}>desc</label>
            <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="updated_asc"{% if sort_by == "updated_asc" %}checked{% endif %}>asc</label>
            <label class="form-check" style="padding:0px;">)</label>
            <label class="form-check" style="padding:0px;">Name(</label>
            <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="name_asc"{% if sort_by == "name_asc" %}checked{% endif %}>asc</label>
            <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="name_desc"{% if sort_by == "name_desc" %}checked{% endif %}>desc</label>
            <label class="form-check" style="padding:0px;">)</label>
            <label class="form-check" style="padding:0px;">Created(</label>
            <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="created_desc"{% if sort_by == "created_desc" %}checked{% endif %}>desc</label>
            <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="created_asc"{% if sort_by == "created_asc" %}checked{% endif %}>asc</label>
            <label class="form-check" style="padding:0px;">)</label>
        </div>
        <div class="d-flex flex-row align-items-center " style="gap: 8px;">
            <span style="color:blue;"><strong>*Filter:</strong></span>
            <input type="text" name="search_str" value="{{ search_str }}" class="form-control" maxlength="100" aria-describedby="id_search_str" id="id_search_str" style="width: 100px;">
            <input type="submit" class="btn btn-primary" id="submit-button" value="🔍Search">
            <span class="mx-3">|</span>
            <a href="{% url 'room:create' %}" class="btn btn-primary">✏️Create Room</a>
        </div>
    </form>
    <hr>
    <!-- START MAIN LIST BODY -->
    <div class="album py-5 bg-body-tertiary"><div class="container">
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-3">
            {% for item in display_object_list %}
                {% include 'includes/room_item.html' with item=item disp_date=item.updated_at|date:"'y/m/d H:i:s" %}
            {% endfor %}
        </div>
    </div></div>
    <!-- END MAIN LIST BODY -->
    &nbsp;
    <!-- START BOTTOM PAGINATION -->
    {% include 'includes/pagination.html' %}
    <!-- END BOTTOM PAGINATION -->

</main>
{% endblock content %}

{% block footer %}
<script>

// likes post
$(document).ready(function() {
            $('.like-btn').click(function() {
                const objectId = $(this).data('room-id');

                $.ajax({
                    url: `/room/push-likes/${objectId}/`,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        // いいね数をリアルタイムで更新
                        $(`#like-count-${objectId}`).text(response.likes);
                    },
                    error: function(xhr) {
                        alert('エラーが発生しました。');
                    }
                });
            });
        });
</script>
{% endblock footer %}
