{% load static %}

<div class="col"><div class="card shadow-sm">
    <!-- 画像ヘッダ -->
    <div class="profile-image-wrapper"><a href="{% url 'group:detail' item.pk %}">
        <!-- 背景：themes -->
        {% if item.themes %}
        <img src="{{ item.themes.url }}" class="profile-bg-image" alt="Group Themes"/>
        {% else %}
        <img src="{% static 'img/themes.png' %}" class="profile-bg-image" alt="Default Themes"/>
        {% endif %}

        <!-- 前面：images -->
        <div class="profile-front-image">
            {% if item.images %}
            <img src="{{ item.images.url }}" style="border-radius: 50%;" alt="Group Images"/>
            {% else %}
            <img src="{% static 'img/group.png' %}" style="border-radius: 50%;" alt="Default Images"/>
            {% endif %}
        </div>
    </a></div>

    <div class="card-body" style="padding:8px;">
        <small class="card-text"><B>{{ item.name|safe }}</B></small><br/>
        {% if item.context %}<small class="card-text">{{ item.context|safe|linebreaksbr }}</small>{% endif %}
        <div class="d-flex justify-content-between align-items-center">
            <!-- 日付表示 -->
            <small class="text-body-secondary">{{ disp_date }}</small>

            {% if disp_like != 'none' %}
                <!--likes-->
                <a class="btn btn-outline-secondary rounded-pill btn-sm like-btn" data-group-id="{{ item.id }}" style="padding:2px;max-height:30px;min-width:60px;">
                    <img width="20px" height="20px" src="{% static 'img/good.png' %}"><span class="like-count" id="like-count-{{ item.id }}">({{ item.likes }})</span>
                </a>
            {% endif %}
        </div>
    </div>
</div></div>
