{% load static %}
{% load tz %}  <!-- タイムゾーンをロード -->
{% now "Y-m-d" as today %}  <!-- 今日の日付を取得 -->

<div class="col"><div class="card shadow-sm" style="margin-bottom:0px;">
    <!-- 画像ヘッダ -->
    <div class="image-wrapper"><a href="{% url 'user:detail' item.pk %}">
        <!-- 背景：themes -->
        {% if item.themes %}
        <img src="{{ item.themes.url }}" class="bg-image" alt="User Themes"/>
        {% else %}
        <img src="{% static 'img/themes.png' %}" class="bg-image" alt="Default Themes"/>
        {% endif %}

        <!-- 前面：images(circle切り取り) -->
        <div class="front-image">
            {% if item.images %}
            <img src="{{ item.images.url }}" class="rounded-circle" alt="User Images"/>
            {% else %}
            <img src="{% static 'img/user.png' %}" class="rounded-circle" alt="Default Images"/>
            {% endif %}
        </div>

        <!-- Status-In -->
        {% if item.is_status_in %}
            <span class="status-in-icon d-inline-flex align-items-center">
                <img src="{% static 'img/status_in.png' %}" class="rounded-circle" width="40" height="40" alt="Status-In"/>
            </span>
        {% endif %}

        <!-- パーソナルバッジ -->
        <span class="profile-icon badge d-inline-flex align-items-center p-0 pe-1 text-{{ item.badges }}-emphasis bg-{{ item.badges }}-subtle border border-{{ item.badges }}-subtle rounded-pill">
            {% if item.images %}
                <img class="rounded-circle me-1" width="24" height="24" src="{{ item.images.url }}" alt="Profile icon">{{ item.nick_name }}
            {% else %}
                <img class="rounded-circle me-1" width="24" height="24" src="{% static 'img/user.png' %}" alt="Profile icon">{{ item.nick_name }}
            {% endif %}
        </span>
    </a></div>
    <!-- テキストボディ -->
    <div class="card-body">
        <small class="card-text"><B>{{ item.user1.username }}</B></small><br/>
        <small class="card-text">{{ item.memberid }}</small><br/>
        <small class="card-text">{{ item.nick_name }}</small>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a type="button" class="btn btn-sm btn-outline-secondary me-2" href="{% url 'user:detail' item.pk %}">Detail</a>
            </div>
            <small class="text-body-secondary">{{ disp_date }}</small>
        </div>
    </div>
</div></div>
