{% load static %}
{% load tz %}  <!-- タイムゾーンをロード -->
{% now "Y-m-d" as today %}  <!-- 今日の日付を取得 -->

<div class="col"><div class="card shadow-sm" style="margin-bottom:0px;">
    <!-- 画像ヘッダ -->
    <div class="profile-image-wrapper"><a href="{% url 'user:detail' item.pk %}">
        <!-- 背景：themes -->
        {% if item.themes %}
        <img src="{{ item.themes.url }}" class="profile-bg-image" alt="User Themes"/>
        {% else %}
        <img src="{% static 'img/themes.png' %}" class="profile-bg-image" alt="Default Themes"/>
        {% endif %}

        <!-- 前面：images(circle切り取り) -->
        <div class="profile-front-image">
            {% if item.images %}
            <img src="{{ item.images.url }}" class="rounded-circle" alt="User Images"/>
            {% else %}
            <img src="{% static 'img/user.png' %}" class="rounded-circle" alt="Default Images"/>
            {% endif %}
        </div>

        <!-- 左上：Status-In -->
        {% if item.is_status_in %}
            <span class="profile-left-top d-inline-flex align-items-center rounded-circle">
                <img src="{% static 'img/status_in.png' %}" class="rounded-circle" width="40" height="40" alt="Status-In"/>
            </span>
        {% endif %}

        <!-- 右上：MBTI -->
        {% if item.mbti and item.mbti != '-' %}
            <span class="profile-right-top d-inline-flex align-items-center">
                {% with mbti_image='img/mbti/'|add:item.mbti|add:'.png' %}
                <img src="{% static mbti_image %}" width="40" height="40" alt="MBTI"/>
                {% endwith %}
            </span>
        {% endif %}    

        <!-- 左下：MBTI Compatibility -->
        {% if request.user.profile.id != item.id and request.user.profile.mbti and item.mbti %}
            {% with mbti_comp=item.get_mbti_comp %}
            {% if mbti_comp.pt > 0 %}
            <span class="profile-left-bottom d-inline-flex flex-column align-items-center">
                {% with mbti_comp_pt=mbti_comp.pt|stringformat:"s" %}
                {% with mbti_pt_img='img/mbti/star_'|add:mbti_comp_pt|add:'.png' mbti_relation_img='img/mbti/'|add:mbti_comp.relation|add:'.png' %}
                    <span style="margin: 2px; padding: 0;"><img src="{% static mbti_pt_img %}" width="50" height=auto alt="MBTI Point" style="display: block;"/></span>
                    <span style="margin: 0; padding: 0;"><img src="{% static mbti_relation_img %}" width="50" height=auto alt="MBTI Relation" style="display: block;"/></span>
                {% endwith %}{% endwith %}
            </span>
            {% endif %}
            {% endwith %}
        {% endif %}
        
        <!-- 右下：Badge -->
        <span class="profile-right-bottom badge d-inline-flex align-items-center p-0 pe-1 text-{{ item.badges }}-emphasis bg-{{ item.badges }}-subtle border border-{{ item.badges }}-subtle rounded-pill">
            {% if item.images %}
                <img class="rounded-circle me-1" width="24" height="24" src="{{ item.images.url }}" alt="Profile icon">{{ item.nick_name }}
            {% else %}
                <img class="rounded-circle me-1" width="24" height="24" src="{% static 'img/user.png' %}" alt="Profile icon">{{ item.nick_name }}
            {% endif %}
        </span>
    </a></div>
    <!-- テキストボディ -->
    <div class="card-body">
        <small class="card-text"><B>{{ item.user1.username }}</B></small><br/>
        <small class="card-text">{{ item.memberid }}</small><br/>
        <small class="card-text">{{ item.nick_name }}</small>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a type="button" class="btn btn-sm btn-outline-secondary me-2" href="{% url 'user:detail' item.pk %}">Detail</a>
            </div>
            <small class="text-body-secondary">{{ disp_date }}</small>
        </div>
    </div>
</div></div>
