<div style="display: flex; gap: 8px; text-align: center;">
    <a class="btn btn-sm btn-info equal-width-btn" href="{% url 'mycalendar:mycalendar' week_previous.year week_previous.month  week_previous.day %}">&laquo; Previous</a>
    <B> [ {{ week_first|date:"Y/m/d" }} 〜 {{ week_last|date:"Y/m/d" }} ]</B>
    <a class="btn btn-sm btn-info equal-width-btn" href="{% url 'mycalendar:mycalendar' week_next.year week_next.month  week_next.day %}">Next &raquo;</a>
</div>
<table class="table table-striped">
<tbody>
    {% for day, schedules in week_day_schedules.items %}
        <tr>
            {% if now == day %}
                <td style="width:50px;" class="table-success">
            {% else %}
                <td style="width:50px;">
            {% endif %}
                <a {% if now == day %} style="font-weight: bold;" {% endif %} >{{ day | date:"m/d" }}</a>
            </td>
            <td>
                {% for s in schedules %}
                    {{ s.start_time|time:'H:i' }}-{{ s.end_time|time:'H:i' }}
                    &nbsp;
                    [{{ s.summary }}]<br>
                    {{ s.description | linebreaks }}
                {% empty %}
                    予定なし
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>

