{% extends "../base.html" %}
{% load static %}

{% block header %}
<link rel="'stylesheet" type="text/css" href="{% static 'list/style.css' %}">
<style type="text/css">
    
</style>
{% endblock header %}

{% block content %}
<!-- START TITLE -->
<div class="my-3 p-3 py-2 text-center bg-body-tertiary">
    <div class="d-flex justify-content-center align-items-center gap-2">
        <img class="bi" width="60" height="60" src="{% static 'img/notice.png' %}" alt="Notice Icon">
        <h1 class="text-body-emphasis fst-italic mb-0">Notice</h1>
        &nbsp;
        <img class="bi" width="50" height="50" src="{% static 'img/list.png' %}" alt="List Icon">
        <h1 class="text-body-emphasis fst-italic mb-0">List</h1>
    </div>
    <p class="col-lg-8 mx-auto lead fst-italic">The List of Notices which we have.</p>
</div>
<!-- END TITLE -->

<main class="container">
    <a href="{% url 'notice:create' %}" class="btn btn-primary">Create Notice</a>
    <hr>
    <!-- START MAIN LIST BODY -->
    <div class="album py-5 bg-body-tertiary"><div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for item in display_object_list %}
            <div class="col"><div class="card shadow-sm">
                <div class="mt-2 notice-xy_center">
                    {% if item.images %}
                    <div class="notice-img-container"><img src="{{ item.images.url }}" class="notice-preview-image"/></div>
                    {% else %}
                    <div class="notice-img-container"><img src="{% static 'img/notice.png' %}" class="notice-preview-image"/></div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <small class="card-text"><B>{{ item.title|safe }}</B></small><br/>
                    <small class="card-text">{{ item.period|safe }}</small><br/>
                    <small class="card-text">{{ item.overview|linebreaksbr|safe }}</small>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'notice:detail' item.pk %}">Detail</a>
                        </div>
                        <small class="text-body-secondary">{{ item.published_at|date:"Y/m/d" }}</small>
                    </div>
                </div>
            </div></div>
            {% endfor %}
        </div>
    </div></div>
    <!-- END MAIN LIST BODY -->
    &nbsp;
    <!-- START BOTTOM PAGINATION -->
    {% include 'includes/pagination.html' %}
    <!-- END BOTTOM PAGINATION -->
</main>
{% endblock content %}