{% extends '../base.html' %}
{% load static %}
{% load fixed_values %}

{% block header %}
<style type="text/css">
    .smoke {background-color: whitesmoke;}

    .preview-image {
        max-width: 300px;
        max-height: 300px;
        display: block;
        margin-top: 10px;
    }

    .badge-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;  /* アイコンとニックネームの間隔 */
        padding: 10px 0;
    }

    .badge-wrapper img {
        width: 32px;        /* アイコンサイズ */
        height: 32px;       /* アイコンサイズ */
        object-fit: cover;  /* アイコン比率維持 */
        border-radius: 50%; /* 丸型アイコン */
    }

    .form-check {
        display: flex;
        align-items: center; 
        gap: 10px;          /* ラジオボタンとアイコン間の間隔 */
    }

    .form-check-group {
        display: flex;                /* 横並び */
        flex-wrap: wrap;            /* 折り返さない */
        gap: 5px;                    /* ラジオボタン間の間隔 */
        justify-content: flex-start;  /* 左寄せ */
        align-items: center;          /* 中央揃え */
        padding: 5px 0;
    }

    .form-check-inline {
        display: inline-flex;         /* 横並び */
        align-items: center;
        gap: 8px;                     /* ラジオボタンとラベルの間隔 */
        white-space: nowrap;
        transition: all 0.3s ease;     /* スムーズな遷移 */
    }

    .form-check-input {
        transform: scale(1.2); /* ラジオボタンサイズ調整 */
        margin: 0;
    }

    .form-check-label {
        display: flex;
        align-items: center;
        gap: 8px;
        white-space: nowrap;
    }

    .profile-icon {
        display: inline-flex;
        align-items: center;
        gap: 0px;
        padding: 5px 10px;
        border-radius: 12px;
        white-space: nowrap;
    }
</style>
{% endblock header %}

{% block content %}
<!--HEADER START-->
<div class="my-3 p-3 py-2 text-center bg-body-tertiary"><div class="d-flex justify-content-center align-items-center gap-2">
    <img class="bi" width="50" height="50" src="{% static 'img/findme.png' %}" alt="Find-Me Icon">
    <h3 class="text-body-emphasis fst-italic mb-0">New Find-Me</h3>
    &nbsp;
    <img class="bi" width="40" height="40" src="{% static 'img/create.png' %}" alt="Create Icon">
    <h3 class="text-body-emphasis fst-italic mb-0">Create</h3>
</div></div>
<!--HEADER END-->

<!--page errors-->
{% if findme_form.errors %}<div class="alert alert-danger">{{ findme_form.errors }}</div>{% endif %}

<!--MAIN START-->
<main><div class="container">
    <div class="bd-example-snippet bd-code-snippet"><div class="bd-example m-0 border-0">
        <!--login check-->
        {% if user.is_authenticated %}

            <!--form common errors-->
            {% if findme_form.non_field_errors %}<div class="alert alert-danger"> {% for error in findme_form.non_field_errors %} * {{ error }}<br/> {% endfor %} </div>{% endif %}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!--submit button-->
                {% include 'includes/submit_button.html' with action="Create" %}
                <br/><br/>

                <!--Input:name-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.name %}</div>
                <!--Input:gender-->
                <div class="mb-2">
                    <label for="{{ target.id_for_label }}" class="form-label btn btn-primary-input labeltext"><B>&lt;&lt;[ {{ findme_form.gender.label|safe }} ]&gt;&gt;</B></label><br/>
                    {% if findme_form.gender.help_text %} <span class="helptext" style="font-size:10pt">{{ findme_form.gender.help_text|safe }}</span> {% endif %}
                    {% if findme_form.gender.errors %} <div class="errortext" style="font-size:10pt"> {% for error in findme_form.gender.errors %} * {{ error }}<br/> {% endfor %} </div> {% endif %}
                    <div class="form-check-group" style="padding:6px 12px;">
                        {% for radio in findme_form.gender %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="radio_{{ radio.data.value }}" name="{{ findme_form.gender.name }}" value="{{ radio.data.value }}" {% if radio.data.value == findme_form.gender.value %}checked{% endif %}>
                                <label class="form-check-label" for="radio_{{ radio.data.value }}">{{ radio.choice_label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!--Input:images-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.images %}</div>
                <!--Display[img]:images_display-->
                <div class="mb-3">{% include 'includes/image.html' with target=object.images field_name='images' display_name='Images' app_name='findme' %}</div>
                <!--Input:themes-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.themes %}</div>
                <!--Display[img]:themes_display-->
                <div class="mb-3">{% include 'includes/image.html' with target=object.themes field_name='themes' display_name='Themes' app_name='findme' %}</div>
                
                <!--Input:birth_year-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.birth_year %}</div>
                <!--Input:birth_month_day-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.birth_month_day %}</div>
                <!--Input:living_area-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.living_area %}</div>

                <!--Input[pulldown]:mbti-->
                <div class="mb-2">
                    <label for="{{ findme_form.mbti.id_for_label }}" class="form-label btn btn-primary-input labeltext">
                        <b>&lt;&lt;[ {{ findme_form.mbti.label|safe }} ]&gt;&gt;</b>
                    </label>
                    <br/>
                    <span class="helptext" style="font-size:10pt">MBTI TEST : ==> <a href="{% get_fixed_value 'MBTI_TEST_URL' %}" target="_blank"><img width=auto height="24" src="{% static 'img/mbti/mbti_test.png' %}" alt="MBTI TEST icon"></a></span><br/>
                    {% if findme_form.mbti.help_text %} <span class="helptext" style="font-size:10pt">{{ findme_form.mbti.help_text|safe }}</span> {% endif %}
                    {% if findme_form.mbti.errors %} <div class="errortext" style="font-size:10pt"> {% for error in findme_form.mbti.errors %} * {{ error }}<br/> {% endfor %} </div> {% endif %}                    
                    <div class="form-group" style="padding:6px 12px;">
                        <select class="form-select" id="id_mbti" name="{{ findme_form.mbti.name }}">
                            {% for choice in findme_form.mbti %}
                                <option value="{{ choice.data.value }}" {% if choice.data.value == findme_form.mbti.value %}selected{% endif %}>
                                    {{ choice.choice_label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!--Input[pulldown]:mbti_name-->
                <div class="mb-2">
                    <label for="{{ findme_form.mbti_name.id_for_label }}" class="form-label btn btn-primary-input labeltext">
                        <b>&lt;&lt;[ {{ findme_form.mbti_name.label|safe }} ]&gt;&gt;</b>
                    </label>
                    <br/>
                    {% if findme_form.mbti_name.help_text %} <span class="helptext" style="font-size:10pt">{{ findme_form.mbti_name.help_text|safe }}</span> {% endif %}
                    {% if findme_form.mbti_name.errors %} <div class="errortext" style="font-size:10pt"> {% for error in findme_form.mbti_name.errors %} * {{ error }}<br/> {% endfor %} </div> {% endif %}                    
                    <div class="form-group" style="padding:6px 12px;">
                        <select id="id_mbti_name" name="{{ findme_form.mbti_name.name }}" class="form-select" data-selected="{{ findme_form.mbti_name.value }}">
                            <option value="">Select MBTI Type first</option>
                        </select>
                    </div>
                </div>
                
                <!--Input:overview-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.overview %}</div>
                <!--Input:introduce-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.introduce %}</div>

                <!--Input:hobby-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.hobby %}</div>
                <!--Input:food-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.food %}</div>
                <!--Input:music-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.music %}</div>
                <!--Input:movie-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.movie %}</div>
                <!--Input:book-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.book %}</div>

                <!--Input:favorite_type-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.favorite_type %}</div>
                <!--Input:favorite_date-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.favorite_date %}</div>
                <!--Input:sense_of_values-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.sense_of_values %}</div>

                <!--Input:future_plan-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.future_plan %}</div>
                <!--Input:request_for_partner-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.request_for_partner %}</div>

                <!--Input:weekend_activity-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.weekend_activity %}</div>
                <!--Input:on_going_project-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.on_going_project %}</div>
                <!--Input:on_going_event-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.on_going_event %}</div>

                <!--Input:what_you_want_to_do-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.what_you_want_to_do %}</div>
                <!--Input:most_proud_event-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.most_proud_event %}</div>
                <!--Input:what_you_value_most-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.what_you_value_most %}</div>

                <!--Input:contacts-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.contacts %}</div>
                <!--Input:remarks-->
                <div class="mb-3">{% include 'includes/input_field.html' with target=findme_form.remarks %}</div>

                <!--Display:created_at/updated_at-->
                {% include 'includes/bottom_dates.html' %}
                <br/>
                <!--submit button-->
                {% include 'includes/submit_button.html' with action="Create" %}
            </form>
        {% else %}
            <label for="require_login" class="form-label">ログインしてください</label>
            &nbsp;
            <a href="{% url 'top:login' %}" class="btn btn-primary" role="button" aria-pressed="true">Login</a><br/>
            &nbsp;
        {% endif %}
    </div></div>
</div></main>
<!--MAIN END-->
{% endblock content %}

{% block footer %}
<!-- JavaScript for Image Preview -->
<script src="{% static 'js/images_preview.js' %}"></script> <!-- for Image Preview -->
<script src="{% static 'js/themes_preview.js' %}"></script> <!-- for Themes Preview -->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var mbtiSelect = document.getElementById("id_mbti");
        var mbtiNameSelect = document.getElementById("id_mbti_name");

        function updateMbtiNameChoices(mbti, selectedValue) {
            if (mbti) {
                fetch(`/findme/get_mbti_name_choices/?mbti=${mbti}`)
                    .then(response => response.json())
                    .then(data => {
                        mbtiNameSelect.innerHTML = "<option value=''>Select MBTI Name</option>";
                        data.mbti_name_choices.forEach(choice => {
                            var option = document.createElement("option");
                            option.value = choice[0];
                            option.textContent = choice[1];
                            if (choice[0] === selectedValue) {
                                option.selected = true;
                            }
                            mbtiNameSelect.appendChild(option);
                        });
                    });
            } else {
                mbtiNameSelect.innerHTML = "<option value=''>Select MBTI Type first</option>";
            }
        }

//        // ページロード時に選択肢を更新
//        updateMbtiNameChoices(mbtiSelect.value, mbtiNameSelect.dataset.selected);

        // `mbti` が変更されたときに `mbti_name` を更新
        mbtiSelect.addEventListener("change", function() {
            updateMbtiNameChoices(this.value, null);
        });
    });
</script>
{% endblock footer %}
