{% extends '../base.html' %}
{% load static %}

{% block header %}
<style type="text/css">
    .smoke {background-color: whitesmoke;}

    .preview-image {
        max-width: 300px;
        max-height: 300px;
        display: block;
        margin-top: 10px;
    }


    .badge-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;  /* アイコンとニックネームの間隔 */
        padding: 10px 0;
    }

    .badge-wrapper img {
        width: 32px;        /* アイコンサイズ */
        height: 32px;       /* アイコンサイズ */
        object-fit: cover;  /* アイコン比率維持 */
        border-radius: 50%; /* 丸型アイコン */
    }

    .form-check {
        display: flex;
        align-items: center; 
        gap: 10px;          /* ラジオボタンとアイコン間の間隔 */
    }

    .form-check-input {
        transform: scale(1.2); /* ラジオボタンサイズ調整 */
        margin: 0;
    }

    .form-check-label {
        display: flex;
        align-items: center;
        gap: 8px;
        white-space: nowrap;
    }

    .profile-icon {
        display: inline-flex;
        align-items: center;
        gap: 0px;
        padding: 5px 10px;
        border-radius: 12px;
        white-space: nowrap;
    }
</style>
{% endblock header %}

{% block content %}
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog" role="document"><div class="modal-content rounded-4 shadow">
        <!--HEADER START-->  
        <div class="my-3 p-3 py-2 text-center bg-body-tertiary"><div class="d-flex justify-content-center align-items-center gap-2">
            <img class="bi" width="50" height="50" src="{% static 'img/findme.png' %}" alt="Find-Me Icon">
            <h3 class="text-body-emphasis fst-italic mb-0">Find-Me</h3>
            &nbsp;
            <img class="bi" width="40" height="40" src="{% static 'img/delete.png' %}" alt="Delete Icon">
            <h3 class="text-body-emphasis fst-italic mb-0">Delete</h3>
        </div></div>
        <!--HEADER END-->

        <div class="modal-body py-0">
            <p>Are you sure that you really want to delete it??</p>
        </div>

        <!--MAIN START-->
        <main><div class="container">
            <div class="bd-example-snippet bd-code-snippet"><div class="bd-example m-0 border-0">
                <!--login check-->
                {% if user.is_authenticated %}
                {% if user.is_staff or user.profile.id == object.profile.id %}
                
                    <form action='' method="POST">
                        {% csrf_token %}
                        
                        <!--Display:findme_id(auto:key)-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.id disp_name='ID' %}</div>
                        <!--Display:name-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.name disp_name='Name' %}</div>
                        <!--Display[radiobutton]:gender-->
                        <div class="mb-2">
                            <label class="form-label btn btn-primary-input labeltext"><b>&lt;&lt;[ Gender ]&gt;&gt;</b></label><br/>
                            <div class="form-check-group" style="padding:6px 12px;">
                                {% for value, label in object.GENDER_CHOICES %}
                                {% if value == object.gender %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="radio_{{ value }}" name="gender_choice" value="{{ value }}" checked>
                                    <label class="form-check-label" for="radio_{{ value }}">{{ label }}</label>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <!--Display[img]:images-->
                        <div class="mb-3">{% include 'includes/display_image.html' with target=object.images field_name='images' disp_name='Images' app_name='findme' %}</div>
                        <!--Display[img]:themes-->
                        <div class="mb-3">{% include 'includes/display_image.html' with target=object.themes field_name='themes' disp_name='Themes' app_name='findme' %}</div>

                        <!--Display:birth_year-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.birth_year disp_name='Birthday(Y)' %}</div>
                        <!--Display:birth_month_day-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.birth_month_day disp_name='Birthday(M/D)' %}</div>
                        <!--Display:living_area-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.living_area disp_name='Living Area' %}</div>
                        <!--Display[pulldown]:mbti-->
                        <div class="mb-3">{% include 'includes/display_pulldown.html' with target=object.mbti disp_name='MBTI Type' choices=object.MBTI_CHOICES %}</div>
                        <!--Display[pulldown]:mbti_name-->
                        <div class="mb-3">
                            <label class="form-label btn btn-primary-input labeltext"><B>&lt;&lt;[ MBTI Name ]&gt;&gt;</B></label><br/>
                            <select class="form-control smoke" disabled>
                                <option value="{{ object.mbti_name }}" selected>
                                    {{ object.get_mbti_name_display }}
                                </option>
                            </select>
                        </div>

                        <!--Display:overview-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.overview disp_name='Overview' %}</div>
                        <!--Display:introduce-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.introduce disp_name='Introduce' %}</div>

                        <!--Display:hobby_choice-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.hobby_choice disp_name='Hobby Choice' %}</div>
                        <!--Display:hobby-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.hobby disp_name='Hobby' %}</div>
                        <!--Display:food_choice-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.food_choice disp_name='Food Choice' %}</div>
                        <!--Display:food-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.food disp_name='Food' %}</div>
                        <!--Display:music_choice-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.music_choice disp_name='Music Choice' %}</div>
                        <!--Display:music-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.music disp_name='Music' %}</div>
                        <!--Display:movie_choice-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.movie_choice disp_name='Movie Choice' %}</div>
                        <!--Display:movie-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.movie disp_name='Movie' %}</div>
                        <!--Display:book_choice-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.book_choice disp_name='Book Choice' %}</div>
                        <!--Display:book-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.book disp_name='Book' %}</div>

                        <!--Display:personality_type_choice-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.personality_type_choice disp_name='Personality Type Choice' %}</div>
                        <!--Display:personality_type-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.personality_type disp_name='Personality Type' %}</div>
                        <!--Display:favorite_date_choice-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.favorite_date_choice disp_name='Favorite Date Choice' %}</div>
                        <!--Display:favorite_date-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.favorite_date disp_name='Favorite Date' %}</div>
                        <!--Display:sense_of_values_choice-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.sense_of_values_choice disp_name='Sense of Values Choice' %}</div>
                        <!--Display:sense_of_values-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.sense_of_values disp_name='Sense of Values' %}</div>

                        <!--Display:future_plan_choice-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.future_plan_choice disp_name='Future Plan Choice' %}</div>
                        <!--Display:future_plan-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.future_plan disp_name='Future Plan' %}</div>
                        <!--Display:request_for_partner_choice-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.request_for_partner_choice disp_name='Request for Partner Choice' %}</div>
                        <!--Display:request_for_partner-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.request_for_partner disp_name='Request for Partner' %}</div>
                        
                        <!--Display:weekend_activity_choice-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.weekend_activity_choice disp_name='Weekend Activity Choice' %}</div>
                        <!--Display:weekend_activity-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.weekend_activity disp_name='Weekend Activity' %}</div>
                        <!--Display:on_going_project_choice-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.on_going_project_choice disp_name='On-Going Project Choice' %}</div>
                        <!--Display:on_going_project-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.on_going_project disp_name='On-Going Project' %}</div>
                        <!--Display:social_activity_choice-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.social_activity_choice disp_name='Social Activity Choice' %}</div>
                        <!--Display:social_activity-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.social_activity disp_name='Social Activity' %}</div>

                        <!--Display:free_day_choice-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.free_day_choice disp_name='What if Free Day Choice' %}</div>
                        <!--Display:free_day-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.free_day disp_name='What if Free Day' %}</div>
                        <!--Display:proudest_achievements_choice-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.proudest_achievements_choice disp_name='Proudest Achieve. Choice' %}</div>
                        <!--Display:proudest_achievements-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.proudest_achievements disp_name='Proudest Achieve.' %}</div>
                        <!--Display:most_important_values_choice-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.most_important_values_choice disp_name='Most important Values Choice' %}</div>
                        <!--Display:most_important_values-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.most_important_values disp_name='Most important Values' %}</div>

                        <!--Display:contacts-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.contacts disp_name='Contacts' %}</div>
                        <!--Display:remarks-->
                        <div class="mb-3">{% include 'includes/display_field.html' with target=object.remarks disp_name='Remarks' %}</div>

                        <!--Display:created_at/updated_at-->
                        {% include 'includes/bottom_dates.html' %}
                        <br/>
                        <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                            <!--submit button-->
                            {% include 'includes/submit_button_danger.html' with action="🗑️Delete" %}
                        </div>
                    </form>
                {% else %}
                    <label for="require_login" class="form-label">🚫更新権限がありません</label>
                    &nbsp;
                    <a href="{% url 'top:login' %}" class="btn btn-primary" role="button" aria-pressed="true">🔓Login</a><br/>
                    &nbsp;
                {% endif %}
                {% else %}
                    <label for="require_login" class="form-label">🔓ログインしてください</label>
                    &nbsp;
                    <a href="{% url 'top:login' %}" class="btn btn-primary" role="button" aria-pressed="true">🔓Login</a><br/>
                    &nbsp;
                {% endif %}
            </div></div>
        </div></main>
        <!--MAIN END-->
    </div></div>
</div>
{% endblock content %}
