{% extends "../base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'list/style.css' %}">
<style type="text/css">

</style>
{% endblock header %}

{% block content %}
<!-- START TITLE -->
<div class="my-3 p-3 py-2 text-center bg-body-tertiary"><div class="d-flex justify-content-center align-items-center gap-2">
    <img class="bi" width="60" height="60" src="{% static 'img/friend.png' %}" alt="Friend Icon">
    <h1 class="text-body-emphasis fst-italic mb-0">Friends</h1>
    &nbsp;
    <img class="bi" width="50" height="50" src="{% static 'img/list.png' %}" alt="List Icon">
    <h1 class="text-body-emphasis fst-italic mb-0">List</h1>
    </div>
    <p class="col-lg-8 mx-auto lead fst-italic">The List of Friends which you have.</p>
</div>
<!-- END TITLE -->

<!--MAIN START-->
<main class="container">
    <!--login check-->
    {% if user.is_authenticated %}
        <div class="d-flex align-items-center mb-3">
            <form method="GET" class="d-flex flex-column align-items-start">
                <div class="d-flex flex-row align-items-center" style="gap:8px; flex-wrap:wrap;">
                    <!-- ソート条件（ラジオボタン） -->
                    <span style="color:blue;"><strong>*SortBy:</strong></span>
                    <label class="form-check" style="padding:0px;">Created(</label>
                    <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="created_desc"{% if sort_by == "created_desc" %}checked{% endif %}>desc</label>
                    <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="created_asc"{% if sort_by == "created_asc" %}checked{% endif %}>asc</label>
                    <label class="form-check" style="padding:0px;">)</label>
                    <label class="form-check" style="padding:0px;">Name(</label>
                    <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="nick_name_asc"{% if sort_by == "nick_name_asc" %}checked{% endif %}>asc</label>
                    <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="nick_name_desc"{% if sort_by == "nick_name_desc" %}checked{% endif %}>desc</label>
                    <label class="form-check" style="padding:0px;">)</label>
                </div>
                <div class="d-flex flex-row align-items-center " style="gap:8px;">
                    <span style="color:blue;"><strong>*Filter:</strong></span>
                    <input type="text" name="search_str" value="{{ search_str }}" class="form-control" maxlength="100" aria-describedby="id_search_str" id="id_search_str" style="width: 100px;">
                    <input type="submit" class="btn btn-primary" id="submit-button" value="🔍Search">
                </div>
            </form>
        </div>
        <hr>
        <!-- START MAIN LIST BODY -->
        <div class="container bg-body-tertiary"><div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 row-cols-xxl-7 g-3">
                {% for item in display_object_list %}
                    {% if item.profile1.id == user.profile.id %}
                        {% include 'includes/profile_item.html' with item=item.profile2 disp_date=item.created_at|date:"'y/m/d H:i:s" %}
                    {% else %}
                        {% include 'includes/profile_item.html' with item=item.profile1 disp_date=item.created_at|date:"'y/m/d H:i:s" %}
                    {% endif %}
                {% endfor %}
        </div></div>
        <!-- END MAIN LIST BODY -->
        <br/>
        <!-- START BOTTOM PAGINATION -->
        {% include 'includes/pagination.html' %}
        <!-- END BOTTOM PAGINATION -->
    {% else %}
        <label for="require_login" class="form-label">🔓ログインしてください</label>
        &nbsp;
        <a href="{% url 'top:login' %}" class="btn btn-primary" role="button" aria-pressed="true">🔓Login</a>
    {% endif %}
</main>
<!--MAIN END-->
{% endblock content %}