{% extends "../base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'list/style.css' %}">
<style type="text/css">
    
    /***** profile card *****/
    /* 画像の重ね合わせコンテナ */
    .profile-image-wrapper {
        position: relative;
        width: 100%;
        height: auto;         /* 高さを自動調整 */
        aspect-ratio: 16 / 9; /* 16:9を維持しつつ高さを可変に */
        overflow: hidden;
    }

    /* 背景の themes 画像 */
    .profile-bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;   /* アスペクト比を維持してカバー表示 */
        z-index: 1;          /* 背景に表示 */
        opacity: 1;         /* 透明度を設定しない */
    }

    /* 前面の images 画像 */
    .profile-front-image {
        margin-top:0px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40%;
        aspect-ratio: 1 / 1;  /* 正方形を維持 */
        transform: translate(-50%, -50%);
        z-index: 2;          /* 前面に表示 */
        border-radius: 50%;   /* 完全な円形に */
        background-color: white;  /* 背景を白色に */
    }

    .profile-front-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Profile画像の左上に配置 */
    .profile-left-top {
        position: absolute;
        top: 5px;      /* 上から10pxの位置 */
        left: 5px;     /* 左から10pxの位置 */
        z-index: 3;     /* 前面に表示されるように設定 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
        border: 2px solid #ccc; /* 枠線 */
    }

    /* Profile画像の右上に配置 */
    .profile-right-top {
        position: absolute;
        top: 5px;      /* 上から10pxの位置 */
        right: 5px;     /* 右から10pxの位置 */
        z-index: 3;     /* 前面に表示されるように設定 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
        border: 2px solid #ccc; /* 枠線 */
    }

    /* Profile画像の左下に配置 */
    .profile-left-bottom {
        position: absolute;
        bottom: 5px;    /* 下から10pxの位置 */
        left: 5px;     /* 左から10pxの位置 */
        z-index: 3;       /* 最前面に表示 */
    }

    /* Profile画像の右下に配置 */
    .profile-right-bottom {
        position: absolute;
        bottom: 5px;    /* 下から10pxの位置 */
        right: 5px;     /* 右から10pxの位置 */
        z-index: 3;       /* 最前面に表示 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
        border: 2px solid #ccc; /* 枠線 */
    }

    
    /***** profile card : effect *****/
    /* ホバー時のエフェクト */
    .profile-image-wrapper:hover .profile-bg-image {
        transform: scale(1.10);
        transition: transform 0.2s ease-in-out;  /* ゆっくり拡大 */
    }

</style>
{% endblock header %}

{% block content %}
<!-- START TITLE -->
<div class="my-3 p-3 py-2 text-center bg-body-tertiary"><div class="d-flex justify-content-center align-items-center gap-2">
    <img class="bi" width="60" height="60" src="{% static 'img/friend.png' %}" alt="Friend Icon">
    <h1 class="text-body-emphasis fst-italic mb-0">Friends</h1>
    &nbsp;
    <img class="bi" width="50" height="50" src="{% static 'img/list.png' %}" alt="List Icon">
    <h1 class="text-body-emphasis fst-italic mb-0">List</h1>
    </div>
    <p class="col-lg-8 mx-auto lead fst-italic">The List of Friends which you have.</p>
</div>
<!-- END TITLE -->

<!--MAIN START-->
<main class="container">
    <!--login check-->
    {% if user.is_authenticated %}
        <!-- START MAIN LIST BODY -->
        <div class="container bg-body-tertiary"><div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 row-cols-xxl-7 g-3">
                {% for item in display_object_list %}
                    {% if item.profile1.user1.id == user.id %}
                        {% include 'includes/profile_item.html' with item=item.profile2 disp_date=item.created_at|date:"'y/m/d H:i:s" %}
                    {% else %}
                        {% include 'includes/profile_item.html' with item=item.profile1 disp_date=item.created_at|date:"'y/m/d H:i:s" %}
                    {% endif %}
                {% endfor %}
        </div></div>
        <!-- END MAIN LIST BODY -->
        <br/>
        <!-- START BOTTOM PAGINATION -->
        {% include 'includes/pagination.html' %}
        <!-- END BOTTOM PAGINATION -->
    {% else %}
        <label for="require_login" class="form-label">ログインしてください</label>
        &nbsp;
        <a href="{% url 'top:login' %}" class="btn btn-primary" role="button" aria-pressed="true">Login</a>
    {% endif %}
</main>
<!--MAIN END-->
{% endblock content %}