{% extends "../base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'list/style.css' %}">
<style type="text/css">

</style>
{% endblock header %}

{% block content %}
<!-- START TITLE -->
<div class="my-3 p-3 py-2 text-center bg-body-tertiary"><div class="d-flex justify-content-center align-items-center gap-2">
    <img class="bi" width="60" height="60" src="{% static 'img/friend.png' %}" alt="Friend Icon">
    <h1 class="text-body-emphasis fst-italic mb-0">Friends</h1>
    &nbsp;
    <img class="bi" width="50" height="50" src="{% static 'img/list.png' %}" alt="List Icon">
    <h1 class="text-body-emphasis fst-italic mb-0">List</h1>
    </div>
    <p class="col-lg-8 mx-auto lead fst-italic">The List of Friends which you have.</p>
</div>
<!-- END TITLE -->

<!--MAIN START-->
<main class="container">
    <!--login check-->
    {% if user.is_authenticated %}
        <!-- START MAIN LIST BODY -->
        <div class="container bg-body-tertiary"><div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 row-cols-xxl-7 g-3">
                {% for item in display_object_list %}
                    {% if item.profile1.id == user.profile.id %}
                        {% include 'includes/profile_item.html' with item=item.profile2 disp_date=item.created_at|date:"'y/m/d H:i:s" %}
                    {% else %}
                        {% include 'includes/profile_item.html' with item=item.profile1 disp_date=item.created_at|date:"'y/m/d H:i:s" %}
                    {% endif %}
                {% endfor %}
        </div></div>
        <!-- END MAIN LIST BODY -->
        <br/>
        <!-- START BOTTOM PAGINATION -->
        {% include 'includes/pagination.html' %}
        <!-- END BOTTOM PAGINATION -->
    {% else %}
        <label for="require_login" class="form-label">ログインしてください</label>
        &nbsp;
        <a href="{% url 'top:login' %}" class="btn btn-primary" role="button" aria-pressed="true">Login</a>
    {% endif %}
</main>
<!--MAIN END-->
{% endblock content %}