{% extends "../base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'list/style.css' %}">
<style type="text/css">
    
    /***** profile card *****/
    /* 画像の重ね合わせコンテナ */
    .profile-image-wrapper {
        position: relative;
        width: 100%;
        height: auto;         /* 高さを自動調整 */
        aspect-ratio: 16 / 9; /* 16:9を維持しつつ高さを可変に */
        overflow: hidden;
    }

    /* 背景の themes 画像 */
    .profile-bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;   /* アスペクト比を維持してカバー表示 */
        z-index: 1;          /* 背景に表示 */
        opacity: 1;         /* 透明度を設定しない */
    }

    /* 前面の images 画像 */
    .profile-front-image {
        margin-top:0px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40%;       /* 幅自動調整でアスペクト比維持 */
        aspect-ratio: 1 / 1;  /* 正方形を維持 */
        transform: translate(-50%, -50%);
        z-index: 2;          /* 前面に表示 */
        border-radius: 50%;   /* 完全な円形に */
        background-color: white;  /* 背景を白色に */
    }

    .profile-front-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Profile画像の左上に配置 */
    .profile-left-top {
        position: absolute;
        top: 5px;      /* 上から10pxの位置 */
        left: 5px;     /* 左から10pxの位置 */
        z-index: 3;     /* 前面に表示されるように設定 */
    }

    /* Profile画像の右上に配置 */
    .profile-right-top {
        position: absolute;
        top: 5px;      /* 上から10pxの位置 */
        right: 5px;     /* 右から10pxの位置 */
        z-index: 3;     /* 前面に表示されるように設定 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
        border: 2px solid #ccc; /* 枠線 */
    }

    /* Profile画像の左下に配置 */
    .profile-left-bottom {
        position: absolute;
        bottom: 5px;    /* 下から10pxの位置 */
        left: 5px;     /* 左から10pxの位置 */
        z-index: 3;       /* 最前面に表示 */
    }

    /* Profile画像の右下に配置 */
    .profile-right-bottom {
        position: absolute;
        bottom: 5px;    /* 下から10pxの位置 */
        right: 5px;     /* 右から10pxの位置 */
        z-index: 3;       /* 最前面に表示 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 軽い影をつける */
        border: 2px solid #ccc; /* 枠線 */
    }

    /***** profile card : effect *****/
    /* ホバー時のエフェクト */
    .profile-image-wrapper:hover .profile-bg-image {
        transform: scale(1.10);
        transition: transform 0.2s ease-in-out;  /* ゆっくり拡大 */
    }

</style>
{% endblock header %}

{% block content %}
<!-- START TITLE -->
<div class="my-3 p-3 py-2 text-center bg-body-tertiary"><div class="d-flex justify-content-center align-items-center gap-2">
    <img class="bi" width="60" height="60" src="{% static 'img/user.png' %}" alt="Profile Icon">
    <h1 class="text-body-emphasis fst-italic mb-0">Profiles</h1>
    &nbsp;
    <img class="bi" width="50" height="50" src="{% static 'img/list.png' %}" alt="List Icon">
    <h1 class="text-body-emphasis fst-italic mb-0">List</h1>
    </div>
    <p class="col-lg-8 mx-auto lead fst-italic">The List of Profiles which we have.</p>
</div>
<!-- END TITLE -->

<!--MAIN START-->
<main class="container">
    <div class="d-flex align-items-center mb-3">
        <form method="GET" class="d-flex flex-column align-items-start">
            <div class="d-flex flex-row align-items-center " style="gap: 8px;">
                <!-- ソート条件（ラジオボタン） -->
                <label>Sort by:</label>
                <div class="d-flex flex-row" style="gap: 8px;">
                    <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="nick_name_asc"{% if sort_by == "nick_name_asc" %}checked{% endif %}>Name asc</label>
                    <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="nick_name_desc"{% if sort_by == "nick_name_desc" %}checked{% endif %}>Name desc</label>
                    <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="created_asc"{% if sort_by == "created_asc" %}checked{% endif %}>Created asc</label>
                    <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="created_desc"{% if sort_by == "created_desc" %}checked{% endif %}>Created desc</label>
                    <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="updated_asc"{% if sort_by == "updated_asc" %}checked{% endif %}>Updated asc</label>
                    <label class="form-check"><input class="form-check-input" type="radio" name="sort_by" value="updated_desc"{% if sort_by == "updated_desc" %}checked{% endif %}>Updated desc</label>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center " style="gap: 8px;">
                <label>Search:</label>
                <input type="text" name="search_str" value="{{ search_str }}" class="form-control" maxlength="100" aria-describedby="id_search_str" id="id_search_str" style="width: 100px;">
                <input type="submit" class="btn btn-primary" id="submit-button" value="Filter">
                <span class="mx-3">|</span>
                <a href="{% url 'user:create' %}" class="btn btn-primary">Create Profile</a>
            </div>
        </form>
    </div>
    <hr>
    <!-- START MAIN LIST BODY -->
    <div class="container bg-body-tertiary"><div class="row row-cols-3 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 row-cols-xxl-7 g-3">
        {% for item in display_object_list %}
            {% include 'includes/profile_item.html' with item=item disp_date=item.updated_at|date:"'y/m/d H:i:s" %}
        {% endfor %}
    </div></div>
    <!-- END MAIN LIST BODY -->
    <br/>
    <!-- START BOTTOM PAGINATION -->
    {% include 'includes/pagination.html' %}
    <!-- END BOTTOM PAGINATION -->
</main>
<!--MAIN END-->
{% endblock content %}